<!-- templates/_base.html -->
{% load compress %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}

    <!-- Block CSS riêng cho từng trang con -->
    {% block extra_css %} {% endblock %}
  </head>
  <body class="flex flex-col justify-between min-h-[100vh] ">
    <div >
      <div class="header">
        <header>{% include 'navbar.html' %}</header>
      </div>
      <div class="w-3/4 mx-auto bg-gray-50">
        <main>{% block content %} {% endblock %}</main>
      </div>
    </div>
    <div class="footer  ">
      <footer>{% include 'footer.html' %}</footer>
    </div>

    {% block extra_js %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </bodyclass=>
</html>
