{% extends '_base.html'%}
{% block content %}
<div class=" w-full h-[100vh]  bg-gray-200">
    <h1 class="font-medium text-lg">Chính sách bảo mật</h1>
<p class="font-light">Chúng tôi hiểu rằng quyền riêng tư và bảo mật thông tin cá nhân là quan trọng. Trang web của chúng tôi cam kết không thu thập thông tin cá nhân của người dùng mà không có sự đồng ý của họ. Chúng tôi đặt sự riêng tư và bảo mật của bạn lên hàng đầu và áp dụng các biện pháp bảo mật thích hợp để đảm bảo an toàn thông tin.</p>

<h2 class="font-medium">1. Thu thập thông tin không cá nhân</h2>
<p class="font-light">Trang web của chúng tôi có thể sử dụng các công nghệ thông qua các tệp cookie hoặc các công nghệ tương tự để thu thập thông tin không cá nhân. Thông tin này có thể bao gồm địa chỉ IP, loại trình duyệt, thời gian truy cập và các trang được xem. Mục đích của việc thu thập thông tin này là để cải thiện trải nghiệm người dùng và cung cấp dịch vụ tốt hơn.</p>

<h2 class="font-medium">2. Sử dụng cookie</h2>
<p class="font-light">Các cookie là các tệp nhỏ được lưu trữ trên thiết bị của bạn thông qua trình duyệt web để thu thập thông tin không cá nhân. Chúng tôi có thể sử dụng cookie để nhận dạng trình duyệt của bạn, tùy chỉnh nội dung và cung cấp dịch vụ cá nhân hóa. Bạn có thể tuỳ chỉnh cài đặt trình duyệt để từ chối các cookie hoặc cảnh báo khi có cookie được gửi đến thiết bị của bạn.</p>

<h2 class="font-medium">3. Quảng cáo bên thứ ba</h2>
<p class="font-light">Trang web của chúng tôi có thể chứa liên kết hoặc quảng cáo đến các trang web bên thứ ba. Chúng tôi không chịu trách nhiệm về nội dung hoặc chính sách bảo mật của các trang web bên thứ ba này. Khi bạn truy cập vào các liên kết hoặc quảng cáo bên thứ ba, bạn nên đọc và hiểu chính sách bảo mật của họ.</p>
<h2 class="font-medium">4. Bảo mật thông tin</h2>
<p class="font-light">Chúng tôi áp dụng các biện pháp bảo mật thích hợp để bảo vệ thông tin không cá nhân được thu thập từ trang web của chúng tôi. Tuy nhiên, chúng tôi không thể đảm bảo hoàn toàn an toàn cho mọi dữ liệu truyền trên Internet và khuyến nghị bạn sử dụng các biện pháp bảo mật cá nhân khác để bảo vệ thông tin của minh</p>
</div>
{% endblock content %}