{% extends "_base.html"%} {% block content %}
<div class="h-[100vh]">
  <div class="bg-red-400 py-2 rounded-xl">
    <h1 class="ml-5 font-semibold text-xl">
      Bảng xếp hạng
    </h1>
  </div>
  <table class="bg-red-200 mx-auto mt-10">
    <thead class="bg-red-100">
      <tr class="text-center gap-x-8">
        <th class="px-4 py-2">Vị Trí</th>
        <th class="px-4 py-2">Câu Lạc Bộ</th>
        <th class="px-4 py-2">ĐĐ</th>
        <th class="px-4 py-2">Thắng</th>
        <th class="px-4 py-2">Hoà</th>
        <th class="px-4 py-2">Thua</th>
        <th class="px-4 py-2">SBT</th>
        <th class="px-4 py-2">SBT</th>
        <th class="px-4 py-2">Điểm</th>
      </tr>
    </thead>
    <tbody>
      {% for team in standings %}
      <tr class="text-center">
        <td>{{ team.rank }}</td>
        <td class="flex gap-2">
          <img
            src="{{ team.team.logo }}"
            alt="{{ team.team.name }}"
            width="20"
            height="20"
          />
          {{ team.team.name }}
        </td>
        <td>{{ team.all.played }}</td>
        <td>{{ team.all.win }}</td>
        <td>{{ team.all.draw }}</td>
        <td>{{ team.all.lose }}</td>
        <td>{{ team.all.goals.for }}</td>
        <td>{{ team.all.goals.against }}</td>
        <td>{{ team.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
